.sidebar {
  width: var(--nav-wide-width);
  height: 100vh;
  border-right: 1px solid rgba(219, 219, 219, 1);
  display: flex;
  flex-direction: column;
}
.ig-logo {
  display: block;
}
.ig-logo-icon {
  display: none;
}

@media (min-width: 1265px) and (max-width: 1919px) {
  .sidebar {
    width: var(--nav-medium-width);
  }
}

@media (min-width: 768px) and (max-width: 1264px) {
  .sidebar {
    width: var(--nav-narrow-width);
  }
  .ig-logo-icon {
    display: block;
  }
  .ig-logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .sidebar {
    z-index: 10;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    height: 48px;
    background-color: #fff;
  }
  .sidebar-container {
    padding: unset;
    margin: unset;
  }

  .ig-logo-icon,
  .ig-logo {
    display: none;
  }
  .more-setting {
    display: none;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .hide-on-mobile {
    display: none;
  }
}
